<div class='container'>
<table>
  <tr>
    <th>Project Title</th>
     <td><%= proposal.project_title %></td>
  </tr>
  <tr>
     <th>Broad Subject</th>
      <td><%= proposal.broad_subject %></td> 
  </tr>
   <tr>
      <th>Estimated Budget</th>
      <td><%= proposal.estimated_budget %></td>
   </tr>
   <tr> 
       <th>Abstract</th>
       <td><%=proposal.abstract %></td> 
    </tr>
    <tr>
       <th>Project Durationt</th>
       <td><%= proposal.project_duration %></td> 
    </tr> 
    <tr>
         <th>College Account Number</th>
         <td><%= proposal.college_account_number %></td> 
    </tr>
    <tr> 
         <th>Undertaking College Name</th>
         <td><%= proposal.undertaking_college_name %></td> 
  </tr>
   <tr>
       <th>College Approval Status</th>
      <td><%= proposal.college_approval_status %></td> 
  </tr>
  <tr>
  <td><a class="btn btn-medium btn-primary" href="/proposal/edit/<%= proposal.owner%>">Edit Proposal</a></td>
  </tr>
</table>
</div>