<form action="/user/update/<%= user.id %>" method="POST" class="form-control">
  <input type='hidden' >
  <h2>Edit your user details here</h2>

  <input value="<%=user.firstname %>" name="firstname" type="text" class="form-control"/>
  <input value="<%=user.lastname %>" name="lastname" type="text" class="form-control"/>
  <input value="<%=user.middlename %>" name="middlename" type="text" class="form-control"/>
  <input value="<%=user.gender %>" name="gender" type="text" class="form-control"/>
  <input value="<%=user.date_of_birth %>" name="date_of_birth" type="text" class="form-control"/>
  <input value="<%=user.email %>" name="email" type="text" class="form-control"/>
  <input value="<%=user.password %>" name="password" type="text" class="form-control"/>
  <input value="<%=user.contact_no %>" name="contact_no " type="text" class="form-control"/>
  <input value="<%=user.aadhar_number %>" name="aadhar_number" type="text" class="form-control"/>
  <input value="<%=user.city %>" name="city" type="text" class="form-control"/>
  <input value="<%=user.state %>" name="state" type="text" class="form-control"/>
  <input value="<%= user.pincode %>" name="pincode" type="text" class="form-control"/>
  <input type="submit" value="Save" class="btn btn-lg btn-primary btn-block" />
 </form>