<br>
<legend>User Detail:</legend>
<br>
<table class="table">
<th>user name</th><th>gender</th><th>contact no</th><th>email id</th><th>date of birth</th><th>address</th><th>aadhar number</th><th>city</th><th>state</th>
<tr>
  <td><%= user.firstname+" "+user.lastname %></td>
  <!-- if else condition to view gender -->
    <% if(user.gender == 1){ %>
        <td>Male</td>
    <% }else {%>
        <td>Female</td>
    <% } %>
  <!-- end of gender condition -->
  <td><%= user.contact_no %></td>
  <td><%= user.email %></td>
  <td><%= user.date_of_birth %></td>
  <td><%= user.address %></td>
  <td><%= user.aadhar_number %></td>
  <td><%= user.city %></td>
  <td><%= user.state %></td>
</table>  