<div class='container'>
<table>
  <tr>
    <th>Priority</th>
     <td><%= notification.priority %></td>
  </tr>
  <tr>
     <th>Sender Id</th>
      <td><%=notification.sender_id %></td> 
       
  </tr>
   <tr>
      <th>Message</th>
      <td><%= message % </td>
   </tr>
   <tr> 
       <th>Receiver Id</th>
       <td><%=notification.receiver_id</td> 
    </tr>
    <tr>
       <th>Link</th>
       <td><%=notification.link></td> 
    </tr> 
    </table>
    </div>