<br>
<legend>profile Detail:</legend>
<br>
<table class="table">
<tr>
    <th>Project Title</th>
     <td><%= proposal.project_title %></td>
 </tr>
 <tr>
      <th>Estimated Budget</th>
      <td><%= proposal.estimated_budget %></td>
 </tr>
<tr>
  <th>status</th>
  <td><%= status.status %></td>
</tr>
<tr>
  <th>approved by</th>
  <td><%= proposal.approved_at %></td>
</tr>
<tr>
  <th>last update</th>
  <td><%= update.updatedAt %></td>
</tr>

</table>